<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.website.dao.ExercisesDao">

	<select id="get" resultType="com.bootdo.website.domain.ExercisesDO">
		select `id`,`name`,`sbcode`,`sort` from website_exercises where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.website.domain.ExercisesDO">
		select `id`,`name`,`sbcode`,`sort` from website_exercises
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="sbcode != null and sbcode != ''"> and sbcode = #{sbcode} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
    <select id="listDistinct" resultType="com.bootdo.website.domain.ExercisesDO">
		select `id`,`name`,`sbcode`,`sort` from website_exercises
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="sbcode != null and sbcode != ''"> and sbcode = #{sbcode} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
	</select>
	
	
 	<select id="count" resultType="int">
		select count(*) from website_exercises
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="sbcode != null and sbcode != ''"> and sbcode = #{sbcode} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.website.domain.ExercisesDO">
		insert into website_exercises
		(
			`id`, 
			`name`, 
			`sbcode`, 
			`sort`
		)
		values
		(
			#{id}, 
			#{name}, 
			#{sbcode}, 
			#{sort}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.website.domain.ExercisesDO">
		update website_exercises 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="sbcode != null">`sbcode` = #{sbcode}, </if>
			<if test="sort != null">`sort` = #{sort}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from website_exercises where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from website_exercises where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
   <select id="checkUnique"  resultType="java.lang.Boolean" parameterType="com.bootdo.website.domain.ExercisesDO">
		select count(*)>0 from website_exercises  
		<where>
		      <if test="id != null and id != ''">  id != #{id} </if>
		      <if test="name != null and name != ''"> and name = #{name} </if>
		</where>
	</select>

</mapper>