<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="website/index/in_website::head"></head>
<body>
  <nav  th:include="website/index/in_website::nav" ></nav>
  <section class="fdb-block"  data-block-type="contents" data-id="2">
    <div class="container"  >
       <div class="row align-items-center" >
          <div class="col-xs-12 col-sm-12 col-md-12"  >
                  <h3 ><strong  th:text="${exeDo.name}"> </strong></h3>
          </div>
      </div>
       <div class="row align-items-center" >
          <div class="col-xs-12 col-sm-12 col-md-12" th:each="parc:${parcDO}" >
               <h3 th:if="${parc.subject} != null"><strong  th:text="${parc.subject}"> </strong></h3>
               <h3 ><span th:text="${parc.question}"></span></h3>
               <h3 th:if="${parc.a} != null" > 
                     <ul class="list-inline">
                       <li  th:if="${parc.a} != null" th:id="'tA_'+${parc.num}"><input type="radio"  th:id="'rA_'+${parc.num}"  th:name="'num_'+${parc.num}" value="A"  th:text="${parc.a}"></li>
                       <li  th:if="${parc.b} != null" th:id="'tB_'+${parc.num}"><input type="radio"  th:id="'rB_'+${parc.num}" th:name="'num_'+${parc.num}" value="B"  th:text="${parc.b}"></li>
                       <li  th:if="${parc.c} != null" th:id="'tC_'+${parc.num}"><input type="radio"  th:id="'rC_'+${parc.num}"  th:name="'num_'+${parc.num}" value="C"  th:text="${parc.c}"></li>
                       <li  th:if="${parc.d} != null" th:id="'tD_'+${parc.num}"><input type="radio"  th:id="'rD_'+${parc.num}" th:name="'num_'+${parc.num}" value="D"  th:text="${parc.d}"></li>
                     </ul>
               </h3>
               <h3 th:id="'answer_'+${parcStat.count}"><label th:text="'答案：'+${parc.answer}"></label><a href="#">收藏</a></h3>
               <h3 th:id="'answer_'+${parcStat.count}" th:text="${parc.remark}"></h3>
          </div>
      </div>
    </div>
			<script th:inline="javascript">
				var arr= [[${nums}]];
					for(j = 0,len=arr.length; j < len; j++) {
						var obj =arr[j];
						var t = $("#t"+obj.res+"_"+obj.num);
						if(t){
							t.attr("class","bg-danger");
						}
						$("#t"+obj.anw+"_"+obj.num).attr("class","bg-success");
						$("#r"+obj.anw+"_"+obj.num).attr("checked","checked");
					}
			</script>
  </section>
  <footer th:include="website/index/in_website::footer"></footer>
 </body>
</html>